---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infrastructure.kandylis.co.uk
  resources:
  - harnessgitopsagents
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infrastructure.kandylis.co.uk
  resources:
  - harnessgitopsagents/finalizers
  verbs:
  - update
- apiGroups:
  - infrastructure.kandylis.co.uk
  resources:
  - harnessgitopsagents/status
  verbs:
  - get
  - patch
  - update
